.form {
    margin: auto;
    border: solid 1px #dbdad7;
    width: 60%;
    padding-left: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important
}

.form-title {
    margin: auto;
    padding: 15px;
    background-color: #2f7fad;
    color: white;
    width: 80%
}

input[type=text],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.fa {
    border-radius: 25px;
    width: 10%;
    margin-left: 5%;
    border: solid 2px #dbdad7;
    margin-top: 5%;
    text-align: center
}

.fa-plane {
    color: #1cad9f
}

.fa-truck {
    color: #45530f
}

.fa-ship {
    color: rgb(50, 110, 100)
}